// Default
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  min-height: 100%;
  font-size: calc(20px + 6 * (100vw - 320px) / 1600);
}

body {
  background-color: var(--color-text);
  color: var(--color-text);
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--font-sans);
  line-height: 1.2;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

img {
  max-width: 100%;
}

p {
  margin: 0 0 1.4rem;
}

section {
  background: var(--color-background);
  border-radius: var(--border-radius-l);
}

a {
  color: inherit;
  cursor: none;

  &:hover {
    color: var(--color-hover);
  }
}

.button {
  border: 1px solid var(--color-lightgray);
  background: transparent;
  color: var(--color-text);
  border-radius: var(--border-radius-l);
  font-size: var(--font-size-s);
  padding: 0.5rem 1rem;
  margin: 0 0.4rem 0.6rem 0;
  cursor: none;
  &:hover {
    background: var(--color-active);
    border-color: var(--color-active);
  }
}
