/* Regular */
@font-face {
  font-family: "Monument Grotesk";
  src: url("../fonts/MonumentGrotesk/ABCMonumentGrotesk-Regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/MonumentGrotesk/ABCMonumentGrotesk-Regular.woff")
      format("woff"); /* Pretty Modern Browsers */
  font-weight: 400;
  font-style: normal;
}
