@font-face {
  font-family: 'Good Sans';
  font-weight: 300;
  font-style: normal;
  src: url('/assets/fonts/goodsans/GoodSans-Light.eot');
  src:
    url('/assets/fonts/goodsans/GoodSans-Light.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/goodsans/GoodSans-Light.woff2') format('woff2'),
    url('/assets/fonts/goodsans/GoodSans-Light.woff') format('woff');
}

@font-face {
  font-family: 'Recife Text';
  font-weight: 400;
  font-style: normal;
  src: url('/assets/fonts/recife/RecifeTextWeb-Book.eot');
  src:
    url('/assets/fonts/recife/RecifeTextWeb-Book.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/recife/RecifeTextWeb-Book.woff2') format('woff2'),
    url('/assets/fonts/recife/RecifeTextWeb-Book.woff') format('woff');
}

@font-face {
  font-family: 'agrandir tightblack';
  font-weight: 900;
  font-style: normal;
  src: url('/assets/fonts/agrandir/Agrandir-TightBlack.eot');
  src:
    url('/assets/fonts/agrandir/Agrandir-TightBlack.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/agrandir/Agrandir-TightBlack.woff2') format('woff2'),
    url('/assets/fonts/agrandir/Agrandir-TightBlack.woff') format('woff');
}

@import url("https://use.typekit.net/xky6ilz.css");