.page-content {
  padding: var(--spacing-sitepadding);
  background: var(--color-background);
  border-bottom-left-radius: var(--border-radius-l);
  border-bottom-right-radius: var(--border-radius-l);

  &--grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);

    .lead {
      grid-column: 1 / span 4;
      font-size: var(--font-size-l);
      padding-right: calc(var(--spacing-sitepadding) * 2);
    }
    .body {
      grid-column: 5 / span 6;
      order: 2;
      padding: 0 var(--spacing-sitepadding) var(--spacing-sitepadding) 0;
    }
    .content-blocks {
      grid-column: 1 / -1;
      order: 3;
    }
    @media (max-width: 800px) {
      .lead,
      .body {
        grid-column: 1 / -1;
        padding-right: 0;
      }
    }
  }
}

.categories {
  list-style: none;
  margin: 1rem 0 3rem;
  padding: 0;
}
.category {
  display: inline-block;
  background: var(--color-background);
  padding: 0.2rem 0.5rem;
  border-radius: 5rem;
  font-size: var(--font-size-xs);
}

.category-list {
  list-style: none;
  margin: 0 0 var(--spacing-sitepadding);
  padding: 0;

  li {
    display: inline-block;
  }
  button {
    border: 1px solid var(--color-lightgray);
    background: transparent;
    color: var(--color-text);
    border-radius: var(--border-radius-l);
    font-size: var(--font-size-s);
    padding: 0.5rem 1rem;
    margin: 0 0.4rem 0.6rem 0;
    cursor: none;
    &.active {
      background: var(--color-active);
      border-color: var(--color-active);
      cursor: none;
    }
    &:hover {
      background: var(--color-active);
      border-color: var(--color-active);
    }
  }
}

input[type="text"] {
  border: 1px solid var(--color-lightgray);
  border-radius: var(--border-radius-l);
  font-size: var(--font-size-s);
  padding: 0.5rem 1rem;
  margin: 0;
  cursor: none;
  &:hover, &:focus {
    border: 1px solid var(--color-active);
    cursor: none;
  }
}
