.page-content {
  padding: var(--spacing-sitepadding);
  background: var(--color-background);
  border-bottom-left-radius: var(--border-radius-l);
  border-bottom-right-radius: var(--border-radius-l);
}

.categories {
  list-style: none;
  margin: 1rem 0 3rem;
  padding: 0;
}
.category {
  display: inline-block;
  background: var(--color-background);
  padding: 0.2rem 0.5rem;
  border-radius: 5rem;
  font-size: var(--font-size-xs);
}

.category-list {
  list-style: none;
  margin: 0 0 var(--spacing-sitepadding);
  padding: 0;

  li {
    display: inline-block;
  }
  button {
    border: 1px solid var(--color-lightgray);
    background: var(--color-offwhite);
    color: var(--color-text);
    border-radius: var(--border-radius-l);
    font-size: var(--font-size-s);
    padding: 0.5rem 1rem;
    margin: 0 0.8rem 0.8rem 0;
    cursor: pointer;
    &.active {
      background: var(--color-active);
      border-color: var(--color-active);
      cursor: default;
    }
    &:hover {
      background: var(--color-active);
      border-color: var(--color-active);
    }
  }
}

input[type="text"] {
  border: 1px solid var(--color-lightgray);
  border-radius: var(--border-radius-l);
  font-size: var(--font-size-s);
  padding: 0.5rem 1rem;
  margin: 0;
  cursor: pointer;
  &:focus {
    border: 1px solid var(--color-active);
    cursor: default;
  }
}
