:root {
  --font-sans: "Monument Grotesk", sans-serif;
  --font-serif: "sabon", serif;

  --font-size-xs: 0.75rem;
  --font-size-s: 1rem;
  --font-size-m: 1.33rem;
  --font-size-l: 1.9rem;
  --font-size-xl: 2.3rem;

  // color palette
  --color-black: #1c1c1c;
  --color-white: #fff;
  --color-green: #42c057;
  --color-darkgreen: #0d623b;
  --color-yellow: #fff97b;
  --color-lime: #e1ff00;
  --color-pink: #fc9d9d;
  --color-lightpink: #F3D6FB;
  --color-palegreen: #f3f6e6;
  --color-paleyellow: #fefcd7;
  --color-paleblue: #dffbff;
  --color-gray: #696969;
  --color-lightgray: #a5a5a5;
  --color-offwhite: #fafbf8;

  --border-radius: 10px;
  --border-radius-l: 60px;
  --spacing-sitepadding: 1.6rem;
}

// light default theme
body {
  --color-background: var(--color-white);
  --color-text: var(--color-black);
  --color-link: var(--color-green);
  --color-hover: var(--color-darkgreen);
  --color-hover-light: var(--color-lightpink);
  --color-active: var(--color-lime);
}

/*
// override variables for dark theme
body[data-theme="dark"] {
 	--color-background: var(--color-black);
 	--color-text: var(--color-white);
 	--color-link: var(--color-green);
	--color-hover: var(--color-green);
}*/

@media (max-width: 800px) {
  :root {
    --font-size-xs: 0.6rem;
    --font-size-s: .8rem;
    --font-size-m: 1rem;
    --font-size-l: 1.2rem;
    --font-size-xl: 1.4rem;

    --border-radius: 10px;
    --border-radius-l: 30px;
    --spacing-sitepadding: 1rem;
  }
}