:root {
  --font-sans: "futura", sans-serif;
  --font-serif: "sabon", serif;

  // color palette
  --color-black: #000;
  --color-white: #fff;
  --color-green: green;

  --radius: 6px;
}

// light default theme
body {
  --color-background: var(--color-white);
  --color-text: var(--color-black);
  --color-link: var(--color-green);
  --color-hover: var(--color-green);
}

/*
// override variables for dark theme
body[data-theme="dark"] {
 	--color-background: var(--color-black);
 	--color-text: var(--color-white);
 	--color-link: var(--color-green);
	--color-hover: var(--color-green);
}*/
